@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root, body, html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(63,63,115);
  background: linear-gradient(0deg, rgba(63,63,115,1) 0%, rgba(2,3,4,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.mainbutton {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 15px #363636;
  user-select: none;
}

.mainbutton:active {
  box-shadow: 1px 1px 10px #363636;
  margin-top: 1px;
  transition: box-shadow 0.1s ease-in-out;
}

.stats {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

nav {
  position: fixed;
  bottom: 10px;
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #00153b;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.label {
  display: block;
  font-size: 12px;
}

nav>span {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.myvideo {
  position:relative;
  padding: 0 0 56.25% 0;
  height:0;
  overflow:hidden;
}

.myvideo iframe, .myvideo object, .myvideo embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.photo {
  width: 100px;
  height: 100px;
}

.container {
  margin: 50px 0px;
  text-align: center;
}

.primary, .divader {
  height: 0.5px;
  background-color: white;
  border-radius: 50px;
}

.primary {
  width: 50px;
}

.taskheader {
  margin: 10px;
}